* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: 'Fira Code', Courier, monospace;
  background-color: #111111;
  color: rgb(235, 235, 235);
}

.logo h4 {
  text-transform: lowercase;
  letter-spacing: 3px;
  font-size: 25px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.nav-links a {
  color: rgb(235, 235, 235);
  text-decoration: none;
  letter-spacing: 3px;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
}

.burger div {
  width: 30px;
  height: 2px;
  background-color: rgb(235, 235, 235);
  margin: 5px;
  transition: all 0.3 ease;
  -webkit-transition: all 0.3 ease;
  -moz-transition: all 0.3 ease;
  -ms-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
}

@media screen and (max-width:1024px) {
  .nav-links {
    width: 70%;
  }
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    width: 40%;
    position: absolute;
    right: 0;
    height: 50vh;
    top: 8vh;
    background-color: #111111;
    display: flex;
    flex-direction: column;
    align-items: right;
    transform: translate(100%);
    -webkit-transform: translate(100%);
    -moz-transform: translate(100%);
    -ms-transform: translate(100%);
    -o-transform: translate(100%);
    transition: transform 0.3s ease-in;
    -webkit-transition: transform 0.3s ease-in;
    -moz-transition: transform 0.3s ease-in;
    -ms-transition: transform 0.3s ease-in;
    -o-transition: transform 0.3s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
  -moz-transform: rotate(-45deg) translate(-5px, 6px);
  -ms-transform: rotate(-45deg) translate(-5px, 6px);
  -o-transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
  -moz-transform: rotate(45deg) translate(-5px, -6px);
  -ms-transform: rotate(45deg) translate(-5px, -6px);
  -o-transform: rotate(45deg) translate(-5px, -6px);
}